# =========================
# .NET
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.log
*.tmp
*.temp

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*
# =========================
# IDE
# =========================
.vs/
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db